@import url('./components/footer.css');
@import url('./components/banner.css');
@import url('./components/navbar.css');
@import url('./components/button.css');
@import url('./components/card.css');


.medium {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 16px;
  margin: 20px;
  background-color: rgb(26,30,53);
  border-radius: 4px;
}

body {
  margin: 0;
  background-color: #FFF5E4;
}

.dr {
  height: 700px;
  padding-top: 5px;
}


@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .banner h2 {
    font-size: 26px;
    line-height: 30px;
  }

  .dr {
    height: 500px;
  }
}
