
.footer {
  color: rgb(183, 157, 122);
  background-color: rgb(26,30,53);
  padding: 10px 20px 10px 20px;
}

.footer-content {
  padding-left: 20px;
}

.footer .icons {
  font-size: 30px;
}

.footer .contacts {
  font-size: 16px;
}

.footer a {
  color: rgb(183, 157, 122);
  text-decoration: none;
}

.footer a:hover {
  color: white;
}

.align-end {
  align-self: flex-end;
}

.copyright {
  font-size: 12px;
  text-align: center;
}
